<h1>调查问卷记录</h1>

<table>
  <tr>
    <th>采集时间</th>
    <th>操作</th>
  </tr>

<% @survey_answers.each do |survey_answer| %>
  <tr>
    <td><%= survey_answer.recorded_at %></td>
    <td><%= link_to '查看', survey_answer %></td>
  </tr>
<% end %>
</table>
