<h1>调查问卷记录</h1>

<table>
	<tr>
		<% @suite.survey_questions.each do |q| %>
		<td>
		<%= q.order %>
		</td>
		<% end %>
		<td></td>
	</tr>
	<tr>
	<% @survey_answers.each do |survey_answer| %>
	<tr>
		<% survey_answer.survey_answer_items.each do |item| %>
	    <td><%= item.body %></td>
		<% end %>
		<td><%= link_to '查看', survey_answer %></td>
	</tr>
	<% end %>
</table>

